<div class="container">
  <div class="row">
    <div class="col">
      <div class="profile" >
        <div class="col-md-6">
          <div class="card">
            <img src="{{user.avatar_url}}" class=rounded-circle>        
          </div>

          <div class="card-body">
            <h4 class="card-title">{{user.login}}</h4>
            <p card-text> {{user.bio}}</p>                    
          </div>

          <div class="friends">

          </div>

        </div>

      </div>
    </div>
  </div>
</div>