<div class="container">
  <div class="row">
    <div class="col">
      <div class="profile" >
        <div class="col-md-6" >

         
          <div class="card" >
            <img src="{{user.avatar_url}}" alt="Picture">  
           
          </div>

          <div class="card-body col">
            <button type="button" class="black"><span>Repositories {{user.public_repos}}</span></button>
            <button type="button" class="black"><span>Followers {{user.followers}}</span></button>
            <button type="button" class="black"><span>Following {{user.following}}</span></button>
                               
          </div>

          <div class="friends">

          </div>

        </div>

      </div>
    </div>
  </div>
</div>