.navbar-light{
    background-color: transparent !important;
    
}
nav .navbar-brand{
    font-size: 60px;
    margin-left: 31%;
    color: rebeccapurple;
    font-weight: bolder;
   
}

nav .navbar-nav li a{
    color:rebeccapurple;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
nav .navbar-nav li a:hover{
    color: white;
}
