<!-- Fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="container">
  <!-- homepage form for searching fo a repo -->
  <form class="search-form" >
  
    <div class="col-auto">
    
      <input type="text" id="repo-input" placeholder="Input username to search...."
      name="searchTerm"
      [(ngModel)]="searchTerm">

      <button type="submit" class="search-button" ><i class=" fa fa-search"></i></button>

    </div>

  </form>
</div> 
